body {
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/paperbg.jpg);
  background-position: 50% 0px;
  background-size: 1100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: block;
  margin: 25px auto 10px;
  padding-top: 0px;
  padding-left: 15px;
  font-family:'Indie Flower', sans-serif;
  color: #086796;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.header-section {
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(166, 99, 45, 0.6), rgba(165, 116, 45, 0));
  background-image: -o-linear-gradient(rgba(166, 99, 45, 0.6), rgba(165, 116, 45, 0));
  background-image: linear-gradient(rgba(166, 99, 45, 0.6), rgba(165, 116, 45, 0));
}
.body-section {
  padding-top: 15px;
  padding-bottom: 25px;
}
.video-embed {
  padding-top: 0px;
  padding-bottom: 0px;
}
.video-container {
  padding-right: 50px;
  padding-left: 50px;
}
.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: left;
}
.divider {
  height: 50px;
  background-image: url(../images/diadelosmuertos-divider.png);
  background-position: 50% 0px;
  background-size: 386px;
  background-repeat: repeat no-repeat;
}
.footer-section {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(166, 99, 45, 0.6));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(166, 99, 45, 0.6));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(166, 99, 45, 0.6));
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  h1 {
    padding-right: 60px;
    padding-left: 60px;
    font-size: 30px;
    line-height: 35px;
  }
  .header-section {
    padding: 15px 0px 20px;
  }
  .video-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .logo {
    width: 300px;
    height: auto;
    float: none;
  }
}
@media (max-width: 479px) {
  h1 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 24px;
  }
  .logo {
    width: 200px;
  }
}